<div class="container col-md-6 col-md-offset-3">
  <tabset>
    <tab heading="Article">
      <form data-ng-submit="vm.task()" novalidate>
        <h1>Article</h1>
        <formly-form fields="vm.articleFields" form="vm.articleForm" model="vm.article">
          <button class="btn btn-primary" ng-disabled="vm.articleForm.$invalid" type="submit">Submit</button>
        </formly-form>
      </form>
    </tab>
    <tab heading="Photos">
      <!-- <form data-ng-submit="vm.task()" novalidate>
        <h1>Photo</h1>
        <formly-form fields="vm.photoFields" form="vm.photoForm" model="vm.photo">
          <button class="btn btn-primary" ng-disabled="vm.photoForm.$invalid" type="submit">Submit</button>
        </formly-form>
      </form> -->
      <h1>Photos</h1>

      <div ng-hide="vm.photos.length==0">

        Files:
        <ul>
          <li ng-repeat="f in vm.photos" style="font:smaller">
            <div ngf-thumbnail="f.name"></div>
            <span>{{f.name}}</span>
          </li>
        </ul>

      </div>
      <div ng-show="vm.photos.length==0">
        No photos associated with this article.
      </div>

      <button multiple  ngf-multiple="true" ngf-select="vm.uploadFiles($files)">
        Upload Photos
      </button>
      <!-- <span class="progress" ng-show="vm.progress >= 0">
        <div ng-bind="vm.progress + '%'" style="width:{{vm.progress*4}}%"></div>
      </span>
      <br/>
       <progressbar max="vm.total" value="dynamic"><span style="color:white; white-space:nowrap;">prog:{{vm.progress}}   total: {{vm.total}}%</span></progressbar>
      {{vm.errorMsg}} -->

      <div ng-hide="vm.gridOptions.data.length == 0" style="border-style:solid">
        <div class="myGrid" ui-grid="vm.gridOptions"></div>
      </div>

    </tab>
  </tabset>

</div>
