
<header class="intro-header" style="background-image: url('http://lorempixel.com/500/1000')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{vm.article.title}}</h1>
                        <h2 class="subheading">{{vm.article.summary}}</h2>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div ng-show="vm.isAdmin">
      <button class="btn btn-primary" ng-click="vm.editArticle(article._id) " title="Edit" type="button">
        <span class="glyphicon glyphicon-pencil pull-right"></span>
      </button>
      <button ng-if="article.isHidden" ng-click="vm.setVisible(article)" class="btn btn-primary animate-if" title="Show" type="button">
        <span class="glyphicon glyphicon-eye-close pull-right"></span>
      </button>
      <button ng-if="!article.isHidden" ng-click="vm.setHidden(article)" class="btn btn-primary animate-if" title="Hide" type="button">
        <span class="glyphicon glyphicon-eye-open pull-right"></span>
      </button>
      <button class="btn btn-primary" ng-click="vm.remove($index, article._id) " title="Delete" type="button">
        <span class="glyphicon glyphicon-trash pull-right"></span>
      </button>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{vm.article.content}}</p>
                </div>
            </div>
        </div>
    </article>

    <hr>
