<div class="container">
  <div class="row">
    <a class="pull-right" ui-sref="articlesNew">
      <span>Post New Article</span>
    </a>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <label for="search">Search:</label>
      <input class="form-control" id="search" ng-model="vm.filter" placeholder="Filter text">
    </div>
    <div class="col-xs-4">
      <label for="search">Items per page:</label>
      <input class="form-control" max="100" min="1" ng-model="vm.pageSize" type="number">
    </div>
  </div>
  <div class="row">
    <table style="width:100%">

      <thead class="table table-hover table-bordered table-striped">
        <tr>
          <th>
            Title
          </th>
          <th>
            Summary
          </th>
          <th>
            Created At
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="article in vm.articles | filter: vm.filter | itemsPerPage: vm.pageSize">
          <td data-title="title">
            {{article.title}}
          </td>
          <td data-title="summary">
            {{article.summary}}
          </td>
          <td data-title="createdAt">
            {{article.createdAt | date: 'MM/dd/yyyy @ h:mma'}}
          </td>
          <td>
            <button class="btn btn-primary" ng-click="vm.toEditArticle(article._id) " title="Edit" type="button">
              <span class="glyphicon glyphicon-pencil pull-right"></span>
            </button>
            <button class="btn btn-primary" title="Hide" type="button">
              <span class="glyphicon glyphicon-eye-close pull-right"></span>
            </button>
            <button class="btn btn-primary" ng-click="vm.remove($index, article._id) " title="Delete" type="button">
              <span class="glyphicon glyphicon-trash pull-right"></span>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
  <row>
    <div class="container center-block">
      <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
    </div>
  </row>
</div>
