<div class="row">
  <div class="col-md-12">
      <carousel  interval="vm.myInterval">
        <slide   ng-non-bindable ng-repeat="slide in vm.slides" active="slide.active" ng-animate="false">
          <img ng-src="{{slide.image}}?{{$index}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>Slide {{$index}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </slide>
    </carousel>
  </div>
  </div>


<!-- Post Contenvt -->
    <article>
  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1>{{vm.article.title}}</h1>
        <h2 class="subheading">{{vm.article.summary}}</h2>
        <span class="meta">Posted by
          <a href="#">{{vm.article.author.name}}</a>
          on
          {{vm.date}}</span>
        <div ng-show="vm.isAdmin">
          <button class="btn btn-primary" ng-click="vm.toEditArticle(article._id) " title="Edit" type="button">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-primary" title="Hide" type="button">
            <span class="glyphicon glyphicon-eye-close"></span>
          </button>
          <button class="btn btn-primary" ng-click="vm.remove(article._id) " title="Delete" type="button">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
        <p>
          {{vm.article.content}}
        </p>

      </div>
    </div>
  </div>
</article>
